@model ASPNETCore6._0Practice.ViewModels.PieListViewModel // can now access properties of model that is passed in
<!DOCTYPE html>

<html>
    <head> @* the head should contain information about the page and how to process it, the head is interpreted before anything is rendered *@
        <meta name="viewport" content="width=device-width" />
        <title>Worst Pie Shop</title>
    </head>
    <body> @* the body should contain content that should be displayed, the body is executed as it is read and as the page is rendered *@
        <h1>@Model.CurrentCategory</h1> @* this is dynamically created html *@
    @foreach (var pie in Model.Pies)
    {
        <div>
            <h2>@pie.Name</h2>
            <h3>@pie.Price.ToString("c")</h3> @* "c" is a currency format specifier *@
            <h4>@pie.Category.CategoryName</h4>
        </div>
    }
</body>
</html> 